{% extends "base.html.twig" %}

{% block body %}
    <link rel="stylesheet" href="css/loading.css" />
    <style>
        .image-hover:hover {
            transform: scale(1.1);
            transition: transform .2s;
        }
    </style>
    <div class="container-fluid">
        <br>
        <h1 class="text-center">FAQ</h1>
        <br>
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        1) Welke sporten biedt jullie sportschool aan?
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Bij onze sportschool kun je genieten van onconventionele sporten zoals Curling,
                        Petanque, Bobsleigh, Fierljeppen en Snorkling.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        2) Zijn de onconventionele sporten geschikt voor beginners?
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Ja, absoluut! We verwelkomen sporters van alle niveaus, inclusief beginners.
                        Onze professionele trainers staan klaar om je te begeleiden en je te helpen bij
                        het ontwikkelen van de vaardigheden die nodig zijn voor de gekozen onconventionele sport.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        3) Kan ik mijn eigen uitrusting meenemen voor de sporten?
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        In de meeste gevallen stellen wij de benodigde uitrusting ter beschikking.
                        Je hebt dus geen eigen uitrusting nodig. Echter, als je specifieke uitrusting
                        hebt voor een bepaalde sport en je wilt deze gebruiken, kun je dat met onze trainers bespreken.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        4) Kan ik een proefles volgen voordat ik me inschrijf?
                    </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Natuurlijk! We moedigen potentiële leden aan om een proefles te volgen voordat
                        ze besluiten zich in te schrijven. Neem contact met ons op om een geschikte tijd
                        en datum te plannen voor jouw proefles.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                        5) Zijn er specifieke vereisten voor deelname aan de onconventionele sporten?
                    </button>
                </h2>
                <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Sommige sporten kunnen bepaalde fysieke eisen hebben, zoals een minimale leeftijd,
                        een bepaald fitnessniveau of een medische goedkeuring. Deze vereisten variëren
                        afhankelijk van de sport. Onze trainers kunnen je informeren over de specifieke
                        vereisten voor elke sport en je helpen bepalen welke sport het beste bij jou past.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                        6) Kan ik de sporten beoefenen als ik een blessure heb?
                    </button>
                </h2>
                <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Als je een blessure hebt, raden we je aan om eerst met je arts te overleggen voordat
                        je deelneemt aan een onconventionele sport. Sommige sporten kunnen fysiek veeleisend
                        zijn, dus het is belangrijk om je herstelproces serieus te nemen en de juiste
                        voorzorgsmaatregelen te treffen.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                        7) Zijn de onconventionele sporten veilig?
                    </button>
                </h2>
                <div id="collapseSeven" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Veiligheid staat bij ons hoog in het vaandel. We nemen de nodige voorzorgsmaatregelen
                        en zorgen ervoor dat onze trainers goed opgeleid zijn om de onconventionele sporten
                        veilig te beoefenen. We bieden ook de nodige beschermende uitrusting aan, afhankelijk
                        van de sport.
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}