{% extends "base.html.twig" %}

{% block body %}
    <link rel="stylesheet" href="css/loading.css" />
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="../img/Training_Factory_Home_picture.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">WELCOME TO TRAINING FACTORY</h5>
                    <p class="card-text">As a movie review website, we strive to provide our readers with honest and thoughtful
                        critiques of the latest films. Our team of experienced reviewers watches each movie with a critical eye,
                        taking into account factors such as the acting, directing, special effects, and overall story.
                        We also consider the film's cultural impact and how it compares to other movies in the same genre.
                    <p class="card-text"><small class="text-muted">Go Explore</small></p>
                </div>
            </div>
        </div>
    </div>

    <h1 class= "heading1 position-relative">Home</h1>

    <div class= "container1 container">
    <p class= "text1 position-relative">Welkom bij Training Factory, de sportschool voor fitness en vechsporten. <br> Ons doel is om mensen in de gelegenheid te stellen om op een zeer intensieve manier te sporten, dus hiermee te werken aan hun gezondheid en die dus te verbeteren.</p>
    </div>

{% endblock %}