{% extends "base.html.twig" %}

{% block body %}
    <link rel="stylesheet" href="css/loading.css" />
    <style>
        .image-hover:hover {
            transform: scale(1.1);
            transition: transform .2s;
        }
    </style>
        <div class="row g-0">
            <div class="col-md-6">
                <a href="pagina1.html">
                    <img src="../img/bannerHome101.jpg" class="img-fluid image-hover" alt="Responsive image">
                </a>
            </div>


            <div class="col-md-6">
                <a href="pagina2.html">
                    <img src="../img/bannerHome102.jpg" class="img-fluid image-hover" alt="Responsive image">
                </a>
            </div>
        </div>
        <div class="row g-0">
            <div class="col-md-6">
                <img src="../img/bannerHome103.jpg" class="img-fluid image-hover" alt="Responsive image">
            </div>
            <div class="col-md-6">
                <img src="../img/bannerHome104.jpg" class="img-fluid image-hover" alt="Responsive image">
            </div>
        </div>
    </div>


{% endblock %}