html {
    overflow-x: hidden;
}


@font-face {
    font-family: "Helvetica Neue Medium";
    src: url('/Fonts/Helvetica_Neue_Medium.ttf');
}

h1, h2, h3, h4, h5, h6, p, i, a, html, body {
    font-family: "Helvetica Neue Medium";
}

.nbLogo {
    height: 45px;
    width: 75px;
}

.nbItems {
    left: 690px;
}

.navbar-nav > .nav-item{
    margin-left: 10px;
    margin-right: 15px;
}

.picture1 {
    height: 400px;
    width: 100%;
}

.heading1 {
    top: 50px;
    left: 580px;
}

.text1 {
    top: 100px;
    left: 24px;
}

.container2 {
    top: 200px;
}

.IGLogo {
    height: 50px;
    width: 50px;
    border-radius: 50px;
}

.FBLogo {
    height: 43px;
    width: 43px;
    top: 5px;
    border-radius: 50px;
}

.TWLogo {
    height: 47px;
    width: 47px;
    top: 2px;
    border-radius: 50px;
}

.heading2 {
    top: 50px;
    left: 560px;
}

.heading4 {
    top: 50px;
    left: 580px;
}

.container3 {
    width: 600px !important;
    top: 80px;
    left: 35px;
}
.tBox1 {
    margin-top: 15px;
    margin-bottom: 15px;
}

.tBox2 {
    margin-top: 15px;
    margin-bottom: 15px;
}

.tBox3 {
    margin-top: 15px;
    margin-bottom: 15px;
}

.tBox4 {
    margin-top: 15px;
    margin-bottom: 15px;
}

.tBox5 {
    margin-top: 15px;
    margin-bottom: 15px;
}

.tBox6 {
    margin-top: 15px;
    margin-bottom: 15px;
}

.tBox7 {
    margin-top: 15px;
    margin-bottom: 15px;
}

.subButton {
    background-color: white;
    color: black;
    top: 30px;
    left: 218px;
}

.subButton:hover {
    background-color: black;
    color: white;
}

@media (min-width: 768px) and (max-width: 992px) {

    .nbToggler {
        left: -5px;
    }

    .nbItems {
        left: 650px;
    }

    .heading1 {
        left: 395px;
    }

    .heading2 {
        width: 200px;
        left: 350px;
    }

    .heading4 {
        left: 133px;
    }

    .container3 {
        top: 100px;
        left: 5px;
    }

    .subButton {
        left: 243px;
    }
}



    @media (max-width: 768px) {

        .nbToggler {
            left: 5px;
        }

        .nbItems {
            left: 250px;
        }

        .picture1 {
            width: 522px;
        }

        .heading1 {
            left: 190px;
        }

        .text1 {
            left: 17px;
        }

        .container2 {
            top: 460px;
        }

        .heading2 {
            width: 200px;
            left: 150px;
        }

        .container3 {
            width: 320px !important;
            top: 100px;
            left: 5px;
        }

        .subButton {
            left: 100px;

        }

        .heading4 {
            left: 125px;
        }
    }
