{% extends 'base.html.twig'%}
{% block body %}
    <div class="container-fluid text-center">
        <br>
        <div class="row text-center">
            <div class="col"></div>
            <div class="col">
                <div class="">
                    {{ form(form) }}
                </div>
            </div>
            <div class="col"></div>
        </div>


    </div>
{% endblock %}